@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1360px;
  }

  .logo img,
  .brush-content .brush-logo img {
    width: 175px;
  }

  h2 {
    font-size: 40px;
  }

  .hero-text h1 {
    font-size: 80px;
  }

  .hero-text h6 {
    font-size: 23px;
  }

  .text-row {
    font-size: 20px;
  }

  .body-text {
    padding: 100px 0;
  }

  .painting-content {
    padding: 100px;
  }

  .services-text h3 {
    font-size: 25px;
  }

  .services-text h2 {
    margin-bottom: 20px;
  }

  .your-painting {
    padding: 100px 100px;
  }

  .painting-text h3 {
    font-size: 23px;
  }

  .gallery-section h3 {
    font-size: 23px;
    padding: 15px 40px 25px;
  }
}

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1170px;
  }

  .logo img,
  .brush-content .brush-logo img {
    width: 160px;
  }

  .header-menu ul li {
    padding: 0 30px;
  }

  .header-menu ul li a {
    font-size: 14px;
  }

  .header-contact {
    margin: 0 25px 0 100px;
  }

  .header-contact a {
    height: 40px;
    width: 40px;
  }

  .header-contact img {
    width: inherit;
  }

  .hero-text h1 {
    font-size: 70px;
  }

  .hero-text h6 {
    font-size: 20px;
    padding: 20px 0;
  }

  .text-row {
    font-size: 15px;
  }

  .body-text {
    padding: 80px 0;
  }

  h2 {
    font-size: 30px;
  }

  .services-text h3 {
    font-size: 20px;
  }

  .services-text p {
    font-size: 12px;
  }

  .painting-text h3 {
    font-size: 20px;
  }

  .checkbox-row,
  .painting-text,
  .main-form-row {
    padding-bottom: 40px;
  }

  .request-btn input[type="submit"] {
    font-size: 14px;
  }

  .checkbox-row ul li label {
    padding: 60px 45px 0;
  }

  .checkbox-row ul li:nth-child(2)::before,
  .checkbox-row ul li:nth-child(2):after {
    height: 80%;
  }

  .main-form-row .main-form {
    padding-bottom: 45px;
  }

  .gallery-section {
    padding-top: 80px;
  }

  .gallery-section h3 {
    font-size: 20px;
    padding: 15px 37px 20px;
  }

  .footer-col h4 a {
    font-size: 20px;
  }

  .footer-contact p a {
    font-size: 18px;
  }

  .footer-navbar {
    padding: 26px 0 28px;
  }

  .footer-nav-left ul li a,
  .footer-nav-right p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .header-content {
    padding: 20px 0;
  }

  .logo img,
  .brush-content .brush-logo img {
    width: 150px;
  }

  .header-menu ul li {
    padding: 0 20px;
  }

  .header-menu ul li a {
    font-size: 13px;
  }

  .hero-text h1 {
    font-size: 45px;
    letter-spacing: 15px;
  }

  .hero-text h6 {
    font-size: 17px;
    padding: 15px 0;
    letter-spacing: 14px;
  }

  .text-row {
    padding: 0 110px;
  }

  .body-text {
    padding: 60px 0;
  }

  h2 {
    font-size: 28px;
  }

  .services-text h3 {
    font-size: 17px;
  }

  .services-text p {
    font-size: 10px;
  }

  .services-row {
    margin-bottom: 2px;
  }

  .your-painting {
    padding: 75px 60px;
  }

  .painting-text h3 {
    font-size: 15px;
  }

  .checkbox-row ul li label {
    padding: 50px 30px 0;
    font-size: 12px;
  }

  .main-form .form-tile {
    width: 30%;
  }

  .checkbox-row,
  .main-form-row {
    padding-bottom: 25px;
  }

  .gallery-section {
    padding-top: 80px;
  }

  .request-btn input[type="submit"] {
    padding: 17px 40px;
  }

  .gallery-section h3 {
    font-size: 23px;
    padding: 12px 25px 15px;
  }

  .brush-img img {
    width: 240px;
  }

  .col-center .brush-content {
    top: 70px;
  }

  .brush-content .social-icon img {
    padding: 25px 0 20px;
  }

  .brush-content .brush-text p,
  .brush-content .brush-text p a {
    font-size: 11px;
  }

  .footer-contact img {
    width: 45px;
  }

  .footer-col h4 a {
    font-size: 18px;
  }

  .footer-contact p a {
    font-size: 15px;
    line-height: 1;
  }

  .footer-row .footer-contact {
    padding-top: 120px;
  }

  .footer-row {
    padding-bottom: 126px;
  }

  .footer-nav-left ul li a,
  .footer-nav-right p {
    font-size: 11px;
  }

  .footer-navbar {
    padding: 22px 0;
  }

  .project-gallery {
    position: relative;
  }

  .image-gallery .images {
    grid-template-columns: repeat(4, 1fr);
  }

  .image-gallery .images img:nth-child(2) {
    grid-column: 4 / 5;
  }

  .gallery-text {
    left: 50%;
    top: 11%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .gallery-text h2 {
    line-height: 1.5;
  }

  .gallery-text h2 br {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .header-menu {
    position: fixed;
    background-color: #0a1f32;
    top: 0;
    height: 100%;
    width: 40%;
    right: -40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-menu ul li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }

  .header-menu ul li a {
    font-size: 16px;
  }

  .hamburger {
    margin: 0;
    padding: 0;
    display: block;
  }

  .hamburger:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }

  .hamburger .line:nth-child(1),
  .hamburger .line:nth-child(3),
  .hamburger .line:nth-child(2) {
    background-color: #fff;
  }

  .hamburger.isactive .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.isactive .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.isactive .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .header-menu.active {
    right: 0;
    transition: 0.5s;
  }

  .header-contact.active {
    /* left: 10%; */
    right: 31%;
  }

  .header-content {
    padding: 18px 0;
  }

  .full-container {
    padding: 0 30px;
  }

  /* .header-contact {
    margin: 0;
    left: 280px;
    transition: 0.5s;
    position: relative;
  } */

  .header-contact {
    margin: 0;
    top: 50%;
    right: 12.5%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    position: absolute;
  }

  .header-contact::after,
  .header-contact a::after,
  .header-contact::before {
    display: none;
  }

  .header-menu ul li a {
    letter-spacing: 5px;
  }
}

@media only screen and (max-width: 999px) {
  .container {
    max-width: 740px;
  }

  .hero-text h1 {
    font-size: 38px;
  }

  .hero-text h6 {
    font-size: 15px;
    padding: 7px 0;
  }

  .logo img,
  .brush-content .brush-logo img {
    width: 130px;
  }

  .body-text {
    padding: 50px 0;
  }

  .text-row {
    padding: 0;
  }

  .services-box {
    width: 48%;
    margin-bottom: 2%;
  }

  .services-row {
    justify-content: space-around;
  }

  .your-painting {
    padding: 55px 45px;
  }

  .main-form-row .main-form {
    padding-bottom: 0;
    flex-wrap: wrap;
  }

  .main-form .form-tile {
    width: 100%;
    padding-bottom: 15px;
  }

  .main-form-row .main-form input {
    padding: 20px 17px;
  }

  .main-form-row textarea {
    padding: 40px 17px;
  }

  .checkbox-row,
  .main-form-row {
    padding-bottom: 40px;
  }

  .checkbox-row ul li {
    width: 30%;
    text-align: center;
  }

  .gallery-section {
    padding-top: 60px;
  }

  .gallery-section h3 {
    font-size: 18px;
  }

  .gallery-text {
    top: 12%;
  }

  .brush-img img {
    width: 220px;
  }

  .brush-content .brush-text p,
  .brush-content .brush-text p a {
    font-size: 10px;
  }

  .brush-content .social-icon img {
    padding: 23px 0 18px;
  }

  .footer-row {
    padding-bottom: 145px;
  }

  .footer-contact img {
    padding-bottom: 15px;
  }

  .footer-navbar {
    position: relative;
    z-index: 1;
  }

  .nav-section {
    flex-direction: column;
    row-gap: 15px;
  }

  .footer-nav-left ul li {
    padding: 0 15px;
  }

  .header-contact.active {
    right: 30%;
  }

  .footer-row .footer-contact {
    padding-top: 135px;
  }

  .header-contact img {
    width: 35px;
  }

  .footer-nav-right p {
    font-size: 9px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 600px;
  }

  .hero-text h1 {
    font-size: 33px;
  }

  h2 {
    font-size: 20px;
  }

  .services-text h3 {
    font-size: 15px;
  }

  .services-text h2 {
    margin-bottom: 10px;
  }

  .services-text p br {
    display: none;
  }

  .services-text p {
    font-size: 11px;
  }

  .services-text p {
    font-size: 11px;
  }

  .painting-text h3 {
    font-size: 13px;
  }

  .checkbox-row ul li:nth-child(2)::before {
    display: none;
  }

  .checkbox-row ul li {
    width: 50%;
  }

  .checkbox-row ul li:nth-child(-n + 2) {
    margin-bottom: 20px;
  }

  .checkbox-row,
  .main-form-row {
    padding-bottom: 20px;
  }

  .main-form-row .main-form input {
    padding: 20px 17px;
  }

  .main-form .form-tile:last-child {
    padding-bottom: 0px;
  }

  .request-btn input[type="submit"] {
    padding: 13px 28px;
  }

  .brush-img img {
    width: 190px;
  }

  .col-center .brush-content {
    top: 50px;
  }

  .brush-content .social-icon img {
    padding: 20px 0 15px;
    width: 18px;
  }

  .footer-contact img {
    width: 38px;
  }

  .footer-col h4 a {
    font-size: 15px;
    letter-spacing: 3px;
  }

  .footer-contact p a {
    font-size: 12px;
  }

  .footer-contact p {
    line-height: 1;
  }

  .footer-row .footer-contact {
    padding-top: 120px;
  }

  .footer-row {
    padding-bottom: 135px;
  }

  .footer-navbar {
    padding: 15px 0;
  }

  .header-contact.active {
    right: 28%;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    max-width: 420px;
  }

  .logo img,
  .brush-content .brush-logo img {
    width: 100px;
  }

  .hero-section img {
    height: 355px;
    object-fit: cover;
  }

  .full-container {
    padding: 0 18px;
  }

  .header-contact img {
    width: 30px;
  }

  .hero-text h1 {
    font-size: 28px;
    letter-spacing: 6px;
  }

  .hero-text h6 {
    font-size: 8px;
    letter-spacing: 8px;
  }

  .text-row {
    font-size: 11px;
  }

  .body-text {
    padding: 40px 0;
  }

  .services-row {
    align-items: center;
  }

  .painting-text h3 {
    padding-bottom: 3px;
  }

  h2 {
    letter-spacing: 4px;
  }

  .checkbox-row ul {
    flex-direction: column;
  }

  .checkbox-row ul li:nth-child(2):after {
    display: none;
  }

  .checkbox-row ul li {
    width: 100%;
  }

  .checkbox-row,
  .painting-text,
  .main-form-row {
    padding-bottom: 20px;
  }

  .your-painting {
    padding: 55px 20px;
  }

  .main-form-row .main-form input {
    padding: 13px 16px;
  }

  .main-form-row textarea {
    height: 80px;
    padding: 20px 16px;
  }

  .main-form .form-tile:last-child {
    padding-bottom: 8px;
  }

  .request-btn input[type="submit"] {
    font-size: 11px;
  }

  .gallery-text h2 br {
    display: none;
  }

  .image-gallery .images {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-gallery .images img:nth-child(2) {
    grid-column: unset;
  }

  .gallery-text {
    position: relative;
    left: 0;
    top: 27px;
    transform: unset;
  }

  .gallery-section {
    padding-top: 20px;
  }

  .gallery-section h3 {
    font-size: 15px;
    padding: 12px 18px 13px;
  }

  .footer-row {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  .footer-row .footer-contact,
  .footer-row .col-center {
    padding-top: 40px;
  }

  .footer-row .footer-col {
    width: 100%;
  }

  .footer-row .col-center {
    order: 2;
  }

  .brush-img img {
    position: static;
    transform: unset;
    width: 220px;
  }

  .footer-col h4 a {
    font-size: 18px;
    letter-spacing: 4px;
  }

  .col-center .brush-content {
    top: 110px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: 300px;
  }

  .services-row {
    flex-direction: column;
  }

  .services-box {
    width: 100%;
  }

  .header-contact {
    right: 18%;
  }

  .header-menu.active {
    width: 80%;
  }

  .header-contact.active {
    right: 58%;
  }

  .hero-text h1 br {
    display: none;
  }

  .hero-text h1 {
    font-size: 25px;
  }

  .hero-text h6 {
    font-size: 10px;
  }

  .text-row {
    font-size: 10px;
    padding: 0 4px;
  }

  .body-text {
    padding: 30px 0;
  }

  .text-row {
    font-size: 13px;
  }

  .checkbox-row,
  .painting-text,
  .main-form-row {
    padding-bottom: 30px;
  }

  .main-form-row .main-form input,
  .main-form-row textarea {
    padding: 13px 16px;
    font-size: 14px;
  }

  .main-form .form-tile:last-child {
    padding-bottom: 15px;
  }

  .main-form .form-tile {
    padding-bottom: 20px;
  }

  .main-form .form-tile:last-child {
    padding-bottom: 20px;
  }

  .request-btn input[type="submit"] {
    padding: 10px 25px;
  }

  .footer-nav-left ul {
    justify-content: center;
  }

}
