@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

.container {
  margin: 0 auto;
  max-width: 1650px;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #bab4af;
}

p {
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
  letter-spacing: 5px;
}

/* Header */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  line-height: unset;
  z-index: 9;
}

.full-container {
  padding: 0 37px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 0;
}

.header-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.header-menu ul li {
  padding: 0 43px;
}

.header-menu ul li a {
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.header-menu ul li a:hover {
  color: #bab4af;
}

.header-contact {
  margin: 0 25px 0 110px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-contact::before {
  content: "";
  width: 300%;
  height: 300%;
  border: 1px solid #d8d8d8;
  opacity: 0.1;
  position: absolute;
  border-radius: 100%;
  /* animation: phone 1s linear infinite;
  animation-delay: 3s; */
}

.header-contact a {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.header-contact a::after {
  content: "";
  width: 160%;
  height: 160%;
  border: 1px solid #d8d8d8;
  position: absolute;
  border-radius: 100%;
  /* animation: phone 1s linear infinite;
  animation-delay: 1s; */
}

.header-contact::after {
  content: "";
  width: 220%;
  height: 220%;
  border: 1px solid #d8d8d8;
  opacity: 0.23;
  position: absolute;
  border-radius: 100%;
  /* animation: phone 1s linear infinite;
  animation-delay: 2s; */
}

.header-contact a:hover {
  filter: brightness(0.6);
}

.hamburger {
  display: none;
}

/* hero */

.hero-section {
  position: relative;
}

.hero-section img {
  width: 100%;
}

.hero-text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  color: #ffff;
}

.hero-text h6 {
  padding: 26px 0 34px;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 16px;
  line-height: 1.1;
}

.hero-text h1 {
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 17px;
  line-height: 1.2;
}

/* Body text */

.body-text {
  padding: 130px 0;
}

.text-row {
  font-size: 22px;
  padding: 0 220px;
  text-align: center;
}

/* Services */

.services-row {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-box {
  position: relative;
  width: 33.15%;
  background-color: #0d2839;
}

.services-box img {
  display: block;
  width: 100%;
}

.services-text {
  width: 100%;
  position: absolute;
  top: 53%;
  transform: translate(0, -50%);
  text-align: center;
  color: #ffff;
}

.services-text h3 {
  padding-top: 20px;
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.1;
}

.services-text h2 {
  padding: 0 12px;
  margin-bottom: 40px;
  font-weight: 600;
  display: inline-block;
  color: #314857;
  background-color: #ffff;
}

.services-text p {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5;
}

/* Your Painting */

.painting-img img {
  width: 100%;
}

.your-painting {
  background-image: url("../images/your-painting.png");
  background-position: center bottom;
  width: 100%;
  height: auto;
  max-height: 1064px;
  padding: 125px 220px 220px;
  color: #ffff;
  position: relative;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.painting-text {
  padding-bottom: 75px;
}

.painting-text h3 {
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 1.1;
}

.painting-text h2 {
  font-weight: 600;
}

.checkbox-row {
  padding-bottom: 80px;
}

.checkbox-row ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.checkbox-row ul li {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.bg-brush {
  position: absolute;
  overflow: hidden;
  height: 47px;
  left: 50%;
  width: 185px;
  transform: translateX(-50%);
  top: 1px;
  transform-origin: left center;
  right: 0;
  margin: 0 auto;
}

.bg-brush::after {
  content: "";
  background: url("../images/radio-bg.png");
  background-position: center left;
  background-size: 184px 45px;
  width: 0;
  height: 100%;
  display: block;
  transition: 0.5s all;
}

/* .checkbox-row ul li:hover {
  background-image: url("/assets/images/radio-bg.png");
  background-repeat: no-repeat;
  background-position: top;
} */

.checkbox-row ul input {
  position: absolute;
  appearance: none;
  top: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ffff;
  background-color: #ffff;
  transition: 0.2s all linear;
  z-index: 8;
}

.checkbox-row ul input:hover {
  cursor: pointer;
}

.checkbox-row ul input:checked {
  background-color: #27576e;
  border: 6px solid #fff;
}

.checkbox-row ul input:checked~label .bg-brush::after {
  width: 100%;
}

.checkbox-row ul li label {
  font-size: 15px;
  display: block;
  padding: 60px 85px 0;
  line-height: 1.4;
  cursor: pointer;
  letter-spacing: 1px;
}

.checkbox-row ul li:nth-child(2):after,
.checkbox-row ul li:nth-child(2)::before {
  content: "";
  width: 1px;
  height: 90%;
  background-color: #4d646f;
  position: absolute;
  right: 0;
  bottom: 0;
}

.checkbox-row ul li:nth-child(2):after {
  left: 0;
}

.main-form-row {
  padding-bottom: 90px;
}

.main-form-row .main-form {
  display: flex;
  padding-bottom: 55px;
  justify-content: space-between;
}

.main-form .form-tile {
  width: 27%;
}

.main-form-row .main-form input,
.main-form-row textarea {
  width: 100%;
  padding: 30px 25px;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  background-color: transparent;
  border: 0px solid #fff;
  letter-spacing: 1.7px;
  border-bottom: 1px solid #4f6872;
  outline: none;
}

.main-form-row textarea {
  height: 100px;
  resize: none;
}

.main-form-row input::placeholder,
.main-form-row textarea::placeholder {
  color: #fff;
}

.request-btn input[type="submit"] {
  padding: 22px 55px;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #fff;
  color: #193946;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
}

.request-btn input[type="submit"]:hover {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  color: #fff;
}

.request-btn input[type="submit"]:active {
  transform: scale(0.96);
}

/* Gallery */

.gallery-section {
  padding-top: 90px;
}

.gallery-text {
  text-align: center;
  position: relative;
  top: 28px;
}

.gallery-text h2 {
  font-weight: 600;
  color: #193541;
}

.gallery-section h3 {
  display: inline-block;
  font-size: 33px;
  padding: 15px 50px 40px;
  font-weight: 400;
  background-color: #fff;
  letter-spacing: 3px;
  line-height: 1.2;
}

.gallery-text h3 a {
  color: #314857;
}

.gallery-text h3 a:hover {
  color: #376689;
}

.gallery-text h2 br {
  display: none;
}

.image-gallery .images {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  justify-content: space-between;
}

.image-gallery .images img {
  width: 100%;
}

/* Footer */

.footer-row {
  padding-bottom: 225px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-row .footer-col {
  width: 30%;
  text-align: center;
  position: relative;
}

.footer-row .footer-contact {
  padding-top: 150px;
}

.footer-contact img {
  padding-bottom: 30px;
}

.footer-col h4 a {
  font-size: 24px;
  color: #314857;
  letter-spacing: 6px;
  line-height: 1.6;
}

.footer-contact p a {
  font-size: 21px;
  color: #6c6c6c;
  line-height: normal;
  font-weight: 500;
}

.footer-contact p a:hover {
  color: #314857;
}

.brush-img img {
  position: absolute;
  transform: translate(-50%, 0);
}

.col-center .brush-content {
  width: 100%;
  position: absolute;
  top: 92px;
}

.brush-content .brush-logo img {
  width: 203px;
}

.brush-content .social-icon img {
  padding: 37px 0 25px;
}

.brush-content .brush-text p,
.brush-content .brush-text p a {
  font-size: 13px;
  color: #fff;
}

.brush-content .brush-text p a:hover {
  color: #bab4af;
}

/* Footer navbar */

.footer-navbar {
  background-color: #e5e5e5;
  padding: 26px 0 25px;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-left ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.footer-nav-left ul li {
  padding-right: 50px;
}

.footer-nav-left ul li a,
.footer-nav-right p {
  color: #474747;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.footer-nav-right p {
  font-size: 14px;
  letter-spacing: 2.6px;
}

.footer-nav-right p a {
  color: #000;
}

.footer-nav-right p a:hover,
.footer-nav-left ul li a:hover {
  color: #376689;
}

/* Animation Keyframes... */

@keyframes phone {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}